---
title: Le Wagon Middleman boilerplate
---

<!-- Your banner code -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/puntalobos.jpg');">
  <div class="banner-content">
    <h1>Surf Anywhere</h1>
    <h3>Book your ride</h3>
    <p>The best surf experience in the world</p>
    <a class="btn btn-primary btn-lg">GO GET IT</a>
  </div>
</div>

<!-- Your features code -->
<div class="container text-center padded features">
  <div class="row">
    <% data.features.each do |type, info| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag(info.picture, class: '') %>
      <h2><%= info.intro %></h2>
      <p><%= info.description %></p>
    </div>
    <% end %>
  </div>
</div>

<!-- Your next trip -->    

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Your next trip</h2>
    <div class="row">
      <% data.places.each do |owner, info| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path(info.card_picture)%>');">
          <div class="card-category"><%= info.city %></div>
          <div class="card-description">
            <h2><%= info.intro %></h2>
            <p><%= info.description %></p>
          </div>
          <%= image_tag(info.picture, class: 'card-user avatar avatar-large') %>
          <%= link_to "#", "spots/#{owner}.html", class: "card-link"  %>
        </div>
      </div>
      <% end %>  
    </div>
  </div>
</div>


<!-- Your newsletter code -->

<div class="text-center padded" id="newsletter">
  <h2>Get news from us</h2>
  <p>Leave us your mail and get news from us</p>
  <form class="form-inline">
    <input type="email" placeholder="bob@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-primary btn-bordered btn-bordered-primary">
  </form>
</div>

<div id="map"></div>
  <script>
    function initMap() {
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
          center: {lat: -28.62956, lng: 153.615042},
          zoom: 12
      });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATprKG5eWa1ipO1XPw3_OZoAi71Udy-nE&callback=initMap">
</script>